function chooseGame(){
	let choice = prompt("Would you like to play #1 Russian Roulette or #2 Guess the Number? Please enter 1 or 2.");
	if(choice == 1) return beginRussian();
	else return guessingGame();
}

const messages = {
  A: "You've shot your opponent! You win!",
  B: "You've been shot! You lose!",
  C: "What are the chances? You're both dead.",
  D: "You've both missed, take another shot!",
  E: "Do you want to play again?",
  F: "The duel begins!"
}

function beginRussian() {
  const response = confirm(messages.F);
  if (response) {
    let play = russianRoulette(Math.floor(Math.random() * 6) + 1, Math.floor(Math.random() * 6) + 1)
    play();
  } else return;
}

function russianRoulette(n, m, i=0) {
  return function russian() {
    alert(`You both fire a shot`)
    i++
    //console.log(i, n) //wouldnt have this log in "retail" version lolol
    if (i < n && i < m) {
      console.log('bang!')
      let response = confirm(messages.D)
      if (response) russian(n-1 , m-1, i); 
    }
    if (i === n && i < m) {
      console.log('boom!')
      let response = confirm(messages.A)
      playAgain();
    }
    if (i < n && i === m) {
      console.log('oof!')
      let response = confirm(messages.B)
      playAgain();
    }
    if (i === n && i === m) {
      console.log('oof!')
      let response = confirm(messages.C)
      playAgain();
    }
    
  }
}

function playAgain() {
  const response = confirm(messages.E)
  if (response) return beginRussian()
  return alert(messages.E); //jay
}

function userGuess(count, target){
  if(count< 10){
    let num = prompt("Guess a number between 1 and 100:")
    if(num == target){
      console.log("You win! Only "+(count+1)+" attempts! Great job!");
      return;
    }
    else if(num > target){
      console.log("Too high.");
      return userGuess(count+1, target);
    }
    else if(num < target){
      console.log("Too low.");
      return userGuess(count+1, target);
    }
  }
  else if(count = 10){
    console.log("You lose. You have guessed 10 times and not been right. The number I was thinking of was "+ target+".");
    return;
    }
}
function guessingGame(){
  let times = 0;
  let winNum = Math.floor(Math.random()*100)+1;
  while(times<=10) return userGuess(times, winNum);
}
